* {
  direction: rtl;
  font-family: "Shabnam FD", sans-serif;
  text-align: right;
}
body {
  background-color: rgb(255, 255, 255);
}
.col-xl-8 {
  padding-top: 5px;
}
div.card {
  margin: 5px;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 34px -24px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 34px -24px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 34px -24px rgba(0, 0, 0, 1);
}
.card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
#filter {
  padding: 5px;
  align-items: center;
}
.uk-margin-small {
  margin: auto;
  padding: 0px;
}

.btn-group button a {
  color: red;
  text-decoration: none;
}
/* //////////select box//////////////// */

.sidebar-1 {
  /* these are the styles for the container around the menu */
  text-align: right;
  padding: 5px;
  display: inline-block;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  width: 100%;
}
.sidebar-menu {
  /*this style impacts the look of the heading containers. */
  cursor: pointer;
  padding: 10px;
  background: #fff;
  position: relative;
  color: #8aa8bd;
  border-bottom: 1px solid #dedede;
  font-size: 1em;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5px;
  padding-right: 50px;
}
.sidebar-menu:before,
.sidebar-menu:after {
  content: "";
  width: 3px;
  height: 10px;
  background: #2e55d3;
  border-radius: 3px;
  position: absolute;
  right: 22px;
  top: calc(28.7px - 12.5px);
  transition: all 0.2s ease;
}
.sidebar-menu:after {
  transform: rotate(90deg);
}
.open:before {
  animation: turn-plus;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.open:after {
  animation: turn-crossbar;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes turn-plus {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes turn-crossbar {
  0% {
    transform: none;
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.sidebar-menu:hover {
  background: #f2f2f2;
}
.sub-menu {
  /*this style is for the sub-menu box*/
  color: #3f5b6f;
  border-bottom: 1px solid #dedede;
  font-size: 1em;
  display: none;
}
.sub-menu:last-child {
  border-bottom: 0;
}
.sub-menu li:hover {
  background: #ccc;
  cursor: pointer;
}
.sub-menu li {
  /*this styles individual elements in a sub-menu*/
  padding: 10px;
  background: #d7d7d7;
  border-bottom: 1px solid #dedede;
}
.sub-menu li:last-child {
  border-bottom: 0;
}
.sub-menu ul {
  /*this just 0s out a bunch of stuff so that it plays nice with the list stylings*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 50px;
}
@media (max-width: 540px) {
  .sidebar-menu {
    font-size: 1em;
    font-weight: 400;
  }
  .sub-menu {
    font-weight: 400;
  }
  .sidebar-1 {
    margin: 0;
    width: 100%;
  }
  .sidebar-menu:after,
  .sidebar-menu:before {
    top: calc(23.5px - 12.5px);
  }
}
/* //////////select box//////////////// */
/* //////////Tab menu//////////////// */
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}
/* //////////Tab menu//////////////// */

/* //////////comment//////////////// */

@media (min-width: 568px) {
  .end {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  #post {
    width: 100%;
  }
}

#clicked {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
}

#profile {
  background-color: unset;
}

#post {
  margin: 10px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  width: 50%;
}

#nav-items li a,
#profile {
  text-decoration: none;
  color: rgb(224, 219, 219);
  background-color: black;
}

.comments {
  margin-top: 5%;
  margin-left: 20px;
}

.darker {
  border: 1px solid #ecb21f;
  background-color: black;
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}

.comment {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  float: left;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline;
  color: rgb(255, 255, 255);
  font-family: "Shabnam FD", sans-serif;
}

.comment p,
.comment span,
.darker p,
.darker span {
  color: rgb(255, 255, 255);
}
h1 {
  font-family: "Shabnam FD", sans-serif;
}
h1,
h4 {
  color: white;
  font-weight: bold;
  font-family: "Shabnam FD", sans-serif;
}

label {
  color: rgb(255, 255, 255);
}

#align-form {
  margin-top: 20px;
}

.form-group p,
a {
  color: rgb(255, 255, 255);
}

#checkbx {
  background-color: black;
}

#darker img {
  margin-right: 15px;
  position: static;
}

.form-group input,
.form-group textarea {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(16, 46, 46, 1);
  border-radius: 12px;
}

form {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  border-radius: 10px;
  padding: 20px;
}
/* //////////comment//////////////// */

/* //////////Footer//////////////// */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/* //////////Footer//////////////// */
